<!DOCTYPE html>
<html>
<head>
  <title>Cats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h3>
      <% if current_user %>
      <%= current_user.user_name%>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
       <input type="hidden" name="_method" value="DELETE">
         <input type="submit" value="Logout">
      </form>

      <% else%>
        <a href="http://localhost:3000/session/new">Please Log In</a>

      <% end %>
  </h3>

<%= yield %>

</body>
</html>
