<h1> Edit Link </h1>

<%= @link.errors.full_messages %>

<form action="<%= link_url(@link.id) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="put">

  <label for="title">Title</label>
    <input id="title" type="text" name="link[title]" value="<%= @link.title %>">

  <label for="url">URL</label>
    <input id="url" type="text" name="link[url]" value="<%= @link.url %>">


<button>Update Link</button>

</form>
