<% action_url = @cat.persisted? ? cat_url(@cat) : cats_url %>
<% method = @cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = @cat.persisted? ? "Update cat" : "Create cat"%>

<form action="<%= action_url %>" method= "POST">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%=method%>">
  <label for="cat_name">Cat Name</label>
  <input type="text" name="cat[name]"
    id="cat_name" value="<%= @cat.name %>">
  <br>

  <label for="cat_description">Cat Description</label>
  <textarea name="cat[description]"
    id="cat_description"><%= @cat.description %></textarea>
  <br>

  <label for="cat_sex">Cat Sex</label>
  <select name="cat[sex]" id="cat_sex">
    <% Cat::SEX.each do |s| %>
    <option value="<%= s %>" <%= "selected" if @cat.sex == s%>>
      <%= s %>
    </option>
    <% end %>
  </select>
  <br>

  <label for="cat_color">Cat Color</label>
  <select name="cat[color]" id="cat_color">
    <option></option>
    <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>"
      <%= "selected" if @cat.color == color%>>
      <%= color %>
    </option>
    <% end %>
  </select>
  <br>

  <label for="cat_birthday">Cat Birthday</label>
  <input type="date" name="cat[birth_date]" id="cat_birthday"
  value="<%= @cat.birth_date %>">

  <br>
  <input type="submit" value="<%=submit_text%>">



</form>
